.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color:   #6666ff;
}

a{
  color: white;
  text-decoration: none;
}

.logreg{
  width:50%;
  height: 200%;
  margin: 0 auto;
 
  text-align: center;
}

.logreg h1{
  font-style: inherit;
}

section {
  background-color: white;
  position: relative;
  top:40px;
  height: 100%;
  width :100%;
  padding: 30px;
}

#sidebar{
  background:white;
  width: 130px;
  float: left;
  position: fixed;
  padding: 5px;
  top:0;
  left:0;
  height:100%;
  box-shadow: 0 0px 7px 0 rgba(12,12,12, 0.2);
}

/*Style List Movie*/

.wrap{
  background-color: white;
  margin: 0 auto;
  top:0;
  height:100%;
}

.wrap2{
  background-color: white;
  float: left;
  top:0;
  width: 85%;
  
  margin-left: 130px;
  padding-left:10px;
  padding-bottom: 100px ;
}

.wrap2 h4{
  text-align: center;
}

.list{
  margin: 0 20px;
}

.bio{
  height: 250px;
  
}

.bio .image{
  width: 418px;
  height: 240px;
  float: left;
  overflow: hidden;
  margin: 0 30px;

}

.image img{
  width:100%;
}

.bio .info{
  float:left;
  padding: 10px;
 
}

.desc{
  text-align: justify;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color:#4d4dff;
  color: white;
  height: 40px;
  text-align: center;
}

footer p{
 top:0;
 bottom: 0;
}


